<h1>Make your form here</h1>

<form class="" action="/pirates" method="post">
  <label for="">Pirate Name</label>: <input type="text" name="pirate[name]" value="">
  <label for="">Pirate Weight</label>: <input type="text" name="pirate[weight]" value="">
  <label for="">Pirate Height</label>: <input type="text" name="pirate[height]" value="">

  <label for="">Ship Name</label>: <input type="text" name="pirate[ships][][name]" value="">
  <label for="">Ship Type</label>: <input type="text" name="pirate[ships][][type]" value="">
  <label for="">Ship Booty</label>: <input type="text" name="pirate[ships][][booty]" value="">

  <label for="">Ship Name</label>: <input type="text" name="pirate[ships][][name]" value="">
  <label for="">Ship Type</label>: <input type="text" name="pirate[ships][][type]" value="">
  <label for="">Ship Booty</label>: <input type="text" name="pirate[ships][][booty]" value="">

  <input type="submit" name="submit" value="submit">
</form>
