<h1>Make your form here</h1>

<form class="" action="/pirates" method="post">
  <label for="">Pirate Name</label>: <input type="text" name="pirate[name]" value="">
  <label for="">Pirate Weight</label>: <input type="text" name="pirate[weight]" value="">
  <label for="">Pirate Height</label>: <input type="text" name="pirate[height]" value="">

  <label for="">Ship Name</label>: <input type="text" id="ship_name_1" name="ship_name_1" value="">
  <label for="">Ship Type</label>: <input type="text" id="ship_type_1" name="ship_type_1" value="">
  <label for="">Ship Booty</label>: <input type="text" id="ship_booty_1" name="ship_booty_1" value="">

  <label for="">Ship Name</label>: <input type="text" id="ship_name_2" name="ship_name_2" value="">
  <label for="">Ship Type</label>: <input type="text" id="ship_type_2" name="ship_type_2" value="">
  <label for="">Ship Booty</label>: <input type="text" id="ship_booty_2" name="ship_booty_2" value="">

  <input type="submit" name="submit" value="Submit">
</form>
